# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Visual Studio Ignore
*.sdf
*.opendb
*.suo
*.idb
*.pdb
*.log
*.tlog
*.ilk
./PingProj/.vs/*
./PingProj/Debug/*
./PingProj/Release/*
